<%- include('partials/header.ejs', {title: 'Lectures'}) %>

<body>
    <%- include('partials/navbar.ejs', {title: ''}) %>

    <div class="container">
        <div class="row gx-5">
            <div class="col">
                <h1>Title: Course <%= course %></h1>
                <p>Course ID: <%= desc %></p>
                <p>Professor: <%= prof.title %></p>
            </div>
            <div class="col">
                <div class="video-box"><a href="lecture">Video 1</a></div>
                <div class="video-box"><a href="lecture">Video 2</a></div>
                <div class="video-box"><a href="lecture">Video 3</a></div>
            </div>
            <div class="col">
                <a href="resources.zip" download>Download Course Resources</a>
            </div>
        </div>
    </div>
    
</body>